{% extends 'app/layouts/app.j2' %}
{% from 'bas_style_kit/macros/bsk_pattern_item_type_header.j2' import pattern_item_type_header %}

{% block app_main_content %}
{{ pattern_item_type_header('project', project.fields.Title) }}

<div class="bsk-row">
  <div class="bsk-col-12-md-8">
    <p class="bsk-lead">{{ project.fields.Description }}</p>
  </div>
  <div class="bsk-col-12-md-4">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <dl class="bsk-dl-lg">
        <dt>Strategic objectives</dt>
        {% for stragetic_objective in project.fields['Strategic Objectives'] %}
          <dd>{{ stragetic_objective }}</dd>
        {% endfor %}
        <dt>Activity areas</dt>
        {% for activity_area in project.fields['Activity Areas'] %}
          <dd>{{ activity_area }}</dd>
        {% endfor %}
        <dt>Project lead</dt>
        <dd>
          {% if project.fields.Owner == 'Adrian' %}
            Adrian Fox
          {% elif project.fields.Owner == 'Andrew' %}
            Andrew Fleming
          {% elif project.fields.Owner == 'Elena' %}
            Elena Field
          {% elif project.fields.Owner == 'Felix' %}
            Felix Fennell
          {% elif project.fields.Owner == 'Louise' %}
            Louise Ireland
          {% else %}
            <mark>Not sure</mark>
          {% endif %}
        </dd>
        <dt>Links</dt>
        {% if project_links | length > 0 %}
          <dd>
            {% for link in project_links %}
              <div>
                <a href="{{ link.fields.Link }}">{{ link.fields.Title }}</a>
                <a class="bsk-pull-right" href="{{ url_for('delete_project_link', link_id=link.id) }}"><i class="far fa-fw fa-unlink bsk-text-danger" aria-hidden="true"></i></a>
              </div>
            {% endfor %}
          </dd>
        {% endif %}
      </dl>
    </aside>
    <div>
      <a class="bsk-btn bsk-btn-block bsk-btn-default" href="https://airtable.com/shr0V33m1Y3zTncaQ" target="_blank"><i class="far fa-fw fa-link" aria-hidden="true"></i> Add Link</a>
      <a class="bsk-btn bsk-btn-block bsk-btn-danger" href="{{ url_for('delete_project', project_id=project.id) }}"><i class="far fa-fw fa-minus" aria-hidden="true"></i> Delete Project</a>
    </div>
  </div>
</div>
{% endblock %}
