{% extends 'app/layouts/app.j2' %}

{% block main_content %}
<div class="app-legal-cookies bsk-col-12-sm-12 bsk-col-12-md-9 bsk-col-12-xl-10">
    <header class="bsk-page-header">
        <h1>Cookies policy</h1>
    </header>
    <p>This website puts small files, known as cookies, onto your computer to collect information about how you
        browse the site.</p>
    <p>Cookies are used to:</p>
    <ul>
        <li>remember notifications you have hidden - so we don’t show them to you again (for example the ‘we use
            cookies’ banner)
        </li>
    </ul>
    <p><strong>These cookies are not used to identify you personally.</strong></p>
    <p>You will normally see a message on the site before we store a cookie on your computer. You can hide this
        message for 30 days, after which you will need to hide it again.</p>
    <p>Find out more about how to manage cookies here: <a
            href="http://www.aboutcookies.org/">www.aboutcookies.org</a>.</p>
    <section>
        <h2>How this website uses cookies</h2>
        <section>
            <h3>Cookie banner</h3>
            <p>If you close the banner highlighting that this website uses cookies, a cookie will be left on your computer to hide the banner for the next 30 days.</p>
            <p>Our cookie banner sets the following cookies:</p>
            <table class="bsk-table bsk-table-responsive">
            <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code class="highlighter-rouge">bsk_cookie_notice_seen</code></td>
                <td>Saves the fact you’ve chosen to hide our cookie banner</td>
                <td>30 days</td>
            </tr>
            </tbody>
        </table>
        </section>
    </section>
    <hr/>
    <section>
        <h2>Changes to this policy</h2>
        <h3>2020-11-06</h3>
        <ul>
            <li>initial policy</li>
        </ul>
    </section>
</div>
{% endblock %}
