{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content_classes %}{{ super() }} bsk-pattern-problem-with-service{% endblock %}
{% block main_content %}
    <h1 class="bsk-page-header">Sorry, you are not allowed to continue</h1>
    <p class="bsk-lead">You do not have permission to access this part of this service.</p>
    <p>
        To request access to this service, please contact the
        <a href="https://nercacuk.sharepoint.com/sites/BASDigitalw/internal-services/service-desk/Pages/magic.aspx">MAGIC Helpdesk.</a>
    </p>
{% endblock %}
