{% extends 'app/layouts/app.j2' %}
{% from 'bas_style_kit/macros/bsk_pattern_item_type_header.j2' import pattern_item_type_header %}

{% block app_main_content %}
    {% set _title = project.fields.Title %}
    {% if project.fields.Acronym %}
        {% set _title = project.fields.Acronym + ' - ' + _title %}
    {% endif %}
    {{ pattern_item_type_header('project', _title) }}

<div class="bsk-row">
  <div class="bsk-col-12-md-8">
    <p class="bsk-lead">{{ project.fields.Description }}</p>
  </div>
  <div class="bsk-col-12-md-4">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <dl class="bsk-dl-lg">
        <dt>Strategic objectives</dt>
        {% for stragetic_objective in project.fields['Strategic Objectives'] %}
          <dd>{{ stragetic_objective }}</dd>
        {% endfor %}
        <dt>Activity areas</dt>
        {% for activity_area in project.fields['Activity Areas'] %}
          <dd>{{ activity_area }}</dd>
        {% endfor %}
        <dt>Project lead</dt>
        <dd>
            <mark>Unknown</mark>
        </dd>
        <dt>Links</dt>
        {% if project_links | length > 0 %}
          <dd>
            {% for link in project_links %}
              <div>
                <a href="{{ link.fields.Link }}">{{ link.fields.Title }}</a>
                <a class="bsk-pull-right" href="{{ url_for('delete_project_link', link_id=link.id) }}"><i class="far fa-fw fa-unlink bsk-text-danger" aria-hidden="true"></i></a>
              </div>
            {% endfor %}
          </dd>
        {% endif %}
      </dl>
    </aside>
    <div>
      <a class="bsk-btn bsk-btn-block bsk-btn-default" href="https://airtable.com/shruPZLCOJwSNRk1t" target="_blank"><i class="far fa-fw fa-link" aria-hidden="true"></i> Add Link</a>
      <a class="bsk-btn bsk-btn-block bsk-btn-danger" href="{{ url_for('delete_project', project_id=project.id) }}"><i class="far fa-fw fa-minus" aria-hidden="true"></i> Delete Project</a>
                    <dt>Project Duration</dt>
                    <dd>
                        {% if project.fields.Duration == 'Open Ended' %}
                            <i class="far fa-fw fa-sync-alt" aria-hidden="true"></i>
                        {% elif project.fields.Duration == 'Fixed Term' %}
                            <i class="far fa-fw fa-tachometer-average" aria-hidden="true"></i>
                        {% endif %}
                        {{ project.fields.Duration }}</dd>
                    {% if project.fields.Duration == 'Fixed Term' %}
                        <dt>Project Status</dt>
                        <dd class="app-project-status">
                            {% if project.fields.Status == 'Proposed' %}
                                <i class="far fa-fw fa-lightbulb app-status-proposed" aria-hidden="true"></i>
                                <span class="app-status-proposed">Idea/Concept</span>
                            {% elif project.fields.Status == 'Under Development' %}
                                <i class="far fa-fw fa-pencil-paintbrush app-status-under-development" aria-hidden="true"></i>
                                <span class="app-status-under-development">Under Development</span>
                            {% elif project.fields.Status == 'On Going' %}
                                <i class="far fa-fw fa-cog fa-spin app-status-on-going" aria-hidden="true"></i>
                                <span class="app-status-on-going">Active</span>
                            {% elif project.fields.Status == 'Complete' %}
                                <i class="far fa-fw fa-check app-status-complete" aria-hidden="true"></i>
                                <span class="app-status-complete">Completed</span>
                            {% elif project.fields.Status == 'Historical Archive' %}
                                <i class="far fa-fw fa-boxes-alt app-status-historical-archive" aria-hidden="true"></i>
                                <span class="app-status-historical-archive">Archived</span>
                            {% endif %}
                        </dd>
                    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
